$tabSpace: 3px;
.vertical-tabs {
    z-index: 10;
    @media #{$small-only}{
        padding: 0;
    }
    ul.tabs {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-bottom: $tabSpace;
        @media #{$small-only}{
            margin-left: -2px;
            margin-right: -2px;
            width: calc(100% + 4px);
        }
        li.tab-page-slug {
            background-color: transparent;
            color: $primary;
            border: 2px solid $primary;
            width: 300px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $header-font-family;
            padding: ($small-space * 3) ($small-space * 3);
            cursor: pointer;
            @media #{$small-only}{
                width: 49%;
                padding: ($small-space * 3) 0;
                font-size: rem-calc(14);
            }
            @media #{$medium}{
                &:first-of-type {
                    margin-right: -2px;
                }
                &:last-of-type {
                    margin-left: -2px;
                }
            }
            &.active {
                background-color: $primary;
                color: $primaryText;
            }
        }
    }
    .tab-content {
        display: none;
        width: 100%;
        &.active {
            display: inline-block;
            margin-bottom: -1px;
        }
    }
}
